.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  background-color: $c-white;
  padding: 24px 0 30px;
  overflow-y: scroll;

  &__action {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 50px;

    &-box {
      display: flex;
      gap: 20px;

      @include tablet {
        display: none;
      }
    }

    @include tablet {
      margin-top: 64px;
    }
  }

  &__button {
    width: 260px;
    margin: 0 auto;

    @include tablet {
      display: none;
    }
  }
}
