.nav {
  display: none;

  @include desktop {
    display: flex;
    gap: 84px;
  }

  &--menu {
    display: flex;
    flex-direction: column;
    gap: 25px;

    @include tablet {
      gap: 40px;
    }
  }

  &__link {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $c-black;

    @include hover-text;

    &--menu {
      @include tablet {
        font-size: 22px;
      }
    }
  }
}
